# ==============================
# Docker Compose / MySQL 設定
# ==============================

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=jianghu_task_manager
MYSQL_USER=jianghu_app
MYSQL_PASSWORD=
MYSQL_PORT=3306


MYSQL_CHARACTER_SET=utf8mb4
MYSQL_COLLATION=utf8mb4_0900_ai_ci
MYSQL_TIMEZONE=+00:00