# ==============================
# Express Server
# ==============================

# development / production / test
NODE_ENV=

# server host & port
SERVER_HOST=127.0.0.1
SERVER_PORT=3000 

# ==============================
# MySQL Connection
# ==============================

# Express 現在直接執行於 Ubuntu 本機，因此要連線 Docker 映射到本機的 port。
DB_HOST=127.0.0.1
DB_PORT=3306

# 與根目錄MYSQL_DATABASE要相同
DB_NAME=jianghu_task_manager

# 與根目錄MYSQL_USER要相同
DB_USER=jianghu_app

# 與根目錄MYSQL_PASSWORD要相同
DB_PASSWORD=

# Pool connection 全滿時是否等待可用 connection
DB_WAIT_FOR_CONNECTIONS=true

# 0 代表等待 queue 不設上限
DB_QUEUE_LIMIT=0


# ==============================
# MySQL Client Options
# ==============================

# 支援完整 Unicode，例如中文與 Emoji
DB_CHARSET=utf8mb4

# 支援 MySQL BIGINT 等大型數字
DB_SUPPORT_BIG_NUMBERS=true

# 將 BIGINT 以 string 回傳，避免超過 JavaScript Number 安全範圍
DB_BIG_NUMBER_STRINGS=true