# ==============================
# Express Server
# ==============================

# development / production / test
NODE_ENV=

# server host & port
SERVER_HOST=127.0.0.1
SERVER_PORT=3000 

# ==============================
# MySQL Connection
# ==============================

# Express 現在直接執行於 Ubuntu 本機，因此要連線 Docker 映射到本機的 port。
DB_HOST=127.0.0.1
DB_PORT=3306

# 與根目錄MYSQL_DATABASE要相同
DB_NAME=jianhu_task_manager

# 與根目錄MYSQL_USER要相同
DB_USER=jianhu_app

# 與根目錄MYSQL_PASSWORD要相同
DB_PASSWORD=

# 連線池上限
DB_CONNECTION_LIMIT=10

