# env.example缺的環境變數如下：
# NODE_ENV、DB_PASSWORD、JWT_SECRET

# ==============================
# Express Server
# ==============================

# development / production / test 
NODE_ENV=

# server host & port
SERVER_HOST=127.0.0.1
SERVER_PORT=3000 

# ==============================
# MySQL Connection
# ==============================

# Express 現在直接執行於 Ubuntu 本機，因此要連線 Docker 映射到本機的 port。
DB_HOST=127.0.0.1
DB_PORT=3306

# 與根目錄.env的MYSQL_DATABASE值要相同
DB_NAME=jianghu_task_manager

# 與根目錄.env的MYSQL_USER值要相同
DB_USER=jianghu_app

# 與根目錄.env的MYSQL_PASSWORD值要相同
DB_PASSWORD=


==============================
JWT Authentication
==============================
# JWT 簽章與驗證使用的 Secret
#
# 注意：
# 需先安裝 Node.js 環境，然後使用以下指令產生隨機 JWT_SECRET
#
#   node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
#
# JWT_SECRET 設定後需固定使用！因為已簽發的 JWT 會依賴此 Secret 進行驗證，
# 若更換 JWT_SECRET，舊的使用者 Token 將無法通過驗證，將導致使用者全部得重新登入。
JWT_SECRET=